@use 'variables' as *;
@use 'cards';

body {
  background-color: $background-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}